# Development Anonymization

In [48]:
import pandas as pd
train_path = r'/Users/tom/Desktop/train_indiv.csv'
test_path = r'/Users/tom/Desktop/test_indiv.csv'
train = pd.read_csv(train_path, index_col=0, encoding='utf-8')
test = pd.read_csv(test_path, index_col=0, encoding='utf-8')

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [49]:
usernames = list(set(list(set(train['Username'].values)) + list(set(test['Username'].values))))

In [53]:
country = 'UK'
df = train
df_name = 'train'
user2anon = {user:'Dev_{}_User_{}'.format(country, ind) for ind, user in enumerate(usernames)}
new = []


for user in df['Username'].values:
    new.append(user2anon[user])
new = pd.Series(new, index=df['Username'].index)

In [54]:
df['Username'] = new
df

,Date,Username,CTweet,Label
0,2016-11-10 17:38:00+00:00,Dev_UK_User_121,<S> it is not my job to tell clubs who they sh...,None
1,2015-09-17 07:10:58+00:00,Dev_UK_User_969,<S> ohh loving this new track on very catchy ...,None
2,2015-07-14 01:22:52+00:00,Dev_UK_User_1446,<S> tryna lighten the mood i got into uni <S/>,None
3,2016-09-09 23:11:19+00:00,Dev_UK_User_437,<S> happy birthday big brother família goodtim...,None
4,2017-10-08 09:00:12+00:00,Dev_UK_User_1029,<S> this years been canny dog shit tbh <S/>,None
...,...,...,...,...
2887055,2014-02-26 10:55:59+00:00,Dev_UK_User_571,<S> hey is classy riz around <S/>,None
2887056,2014-12-09 16:15:01+00:00,Dev_UK_User_25,<S> i nomi mate to win the mmm because were at...,None
2887057,2014-11-28 07:42:13+00:00,Dev_UK_User_988,<S> broadcast £ social media show the power an...,None
2887058,2019-10-12 22:10:15+00:00,Dev_UK_User_427,<S> now spinning a perfect album thewhitestrip...,None
2887059,2019-04-12 13:33:19+00:00,Dev_UK_User_271,<S> *set as wallpaper passport photo <S/>,None

In [55]:
df.to_csv('{}_Dev_{}_Anon.csv'.format(country, df_name))

# Experiment Anonymization

In [69]:
import pandas as pd
path = r'/Users/tom/Desktop/indiv_experiment.csv'
data = pd.read_csv(path, index_col=0, encoding='utf-8')
usernames = list(set(data['Username'].values))

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [70]:
country = 'Spain'

user2anon = {user:'Exp_{}_User_{}'.format(country, ind) for ind, user in enumerate(usernames)}
new = []


for user in data['Username'].values:
    new.append(user2anon[user])
new = pd.Series(new, index=data['Username'].index)
data['Username'] = new
data

,Date,Username,CTweet
0,2020-03-17 13:23:18+00:00,Exp_Spain_User_858,<S> los pipicanes (por lo menos en mi ciudad e...
1,2020-04-23 13:07:26+00:00,Exp_Spain_User_2032,<S> pues a mi me han dicho que solo van al dom...
2,2020-03-21 20:48:22+00:00,Exp_Spain_User_776,<S> dice que la chavalería no está leyendo el ...
3,2020-03-29 17:10:34+00:00,Exp_Spain_User_1292,<S> al d los cerdos <S/>
4,2020-01-31 09:22:54+00:00,Exp_Spain_User_824,<S> otra cosa serían ya problemas psicológicos...
...,...,...,...
1012842,2020-03-23 19:09:20+00:00,Exp_Spain_User_1658,<S> no lo pillo la verdad <S/>
1012843,2020-01-09 12:10:49+00:00,Exp_Spain_User_561,<S> hola estoy aquí con mi novia p death stran...
1012844,2020-03-31 16:15:40+00:00,Exp_Spain_User_1525,<S> yo que estaba viviendo el cuento de mi vid...
1012845,2020-02-15 14:27:07+00:00,Exp_Spain_User_1824,<S> mi madre es insuperable jaja <S/>
1012846,2020-03-17 14:19:30+00:00,Exp_Spain_User_1413,<S> pero es que para no decir nada mejor estat...

In [71]:
data.to_csv('Exp_{}_Anon.csv'.format(country))